.col-sm-6
    h3(ng-if="!editMode") #{i18n['admin.security.groups.controls.add']}
    h3(ng-if="editMode") #{i18n['admin.security.groups.controls.edit']}
    .row
        form.form-horizontal(novalidate,name="form",ng-submit="save()")
            .form-group
                label.col-sm-4.control-label #{i18n['admin.security.groups.form.name']}
                .col-sm-8
                    input.form-control(name="name", ng-model="model.name", server-error)
                    div(errors-printer="name")
            .form-group
                label.col-sm-4.control-label #{i18n['admin.security.groups.form.roles']}
                .col-sm-8
                    div(name="authorities", h-multiselect="roles", ng-model="model.authorities", label="authority", server-error)
                    div(errors-printer="authorities")
            .form-group
                .col-sm-offset-4.col-sm-8
                    .pull-right
                        button.btn.btn-default(type="button", ui-sref="security") Cancel
                        span &nbsp;
                        button.btn.btn-primary(type="submit") Submit
                    .clearfix