.col-sm-6
    h3 #{i18n['admin.security.users.controls.add']}
    .row
        form.form-horizontal(novalidate,name="form",ng-submit="save()")
            .form-group
                label.col-sm-4.control-label #{i18n['admin.security.users.form.username']}
                .col-sm-8
                    input.form-control(name="username", ng-model="model.username", server-error)
                    div(errors-printer="username")
            .form-group
                label.col-sm-4.control-label #{i18n['admin.security.users.form.password']}
                .col-sm-8
                    input.form-control(name="password", ng-model="model.password", server-error, type="password")
                    div(errors-printer="password")
            .form-group
                label.col-sm-4.control-label #{i18n['admin.security.users.form.password2']}
                .col-sm-8
                    input.form-control(name="repeatedPassword", ng-model="model.repeatedPassword", server-error, type="password")
                    div(errors-printer="repeatedPassword")
            .form-group
                label.col-sm-4.control-label Groups
                .col-sm-8
                    div(name="groups", h-multiselect="groups", ng-model="model.groups", server-error)
                    div(errors-printer="groups")
            .form-group
                label.col-sm-4.control-label Roles
                .col-sm-8
                    div(name="roles", h-multiselect="roles", ng-model="model.roles", label="authority", server-error)
                    div(errors-printer="roles")
            .form-group
                .col-sm-offset-4.col-sm-8
                    .pull-right
                        button.btn.btn-default(type="button", ui-sref="security") Cancel
                        span &nbsp;
                        button.btn.btn-primary(type="submit") Submit
                    .clearfix