body {
    padding-top: 70px;
}

/*VARIOUS*/

.h-alert-pane {
    position: absolute;
    top: 60px;
    z-index: 1031;
    left: 550px;
    width: 600px;
}

.h-tab-pane {
    margin-top: 20px;
}

.fade {
    opacity: 0;
}
.fade.in {
    -webkit-transition: opacity 3.0s linear;
    -moz-transition: opacity 3.0s linear;
    -o-transition: opacity 3.0s linear;
    transition: opacity 3.0s linear;
    opacity: 1;
}

/*MULTISELECT*/

.h-multiselect-pane {
    width: 43%;
    display: inline-block;
}

.h-multiselect-button-pane {
    width: 14%;
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
    bottom: 50px;
}

.h-multiselect-button-pane div {
    margin-bottom: 5px;
}

/*SECUTITY*/

.h-sec-main-panel {
    margin-top: 20px;
}
